*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    width:100%;
}
.main-container{
    /* background-image:url(images/shoe4.jpeg); */
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.navigation{
    display:flex;
    align-items:center;
    justify-content:center;
    width:95%;
    justify-content:space-between;
    margin:0 auto;
}
.navigation img{
    width:6%;
}
.navigation nav{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    /* justify-content:space-between; */
    width:100%;
}
nav a{
    display:block;
    text-align:center;
    text-decoration:none;
    /* margin:0 auto; */
    margin-left:20px;
    text-transform:capitalize;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Luc ida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    transition:border , padding  2s;
}
nav a:hover{
    /* border:none; */
    /* border:1px solid #000000; */
    padding:5px;
    color:#943D24;
}

.about{
    margin:20px auto;
}
.about h5{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.5em;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    margin:10px auto;
    color:#943D24;
}
.about-1{
    display:flex;
    align-items:center;
    justify-content:center;
    justify-content:space-between;
    width:90%;
    margin:0 auto;
}
.about-1 img{
    width:40%; 
}
.about-1 p{
    width:50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    line-height:1.4em;
}

@media screen and (max-width:750px){
    .navigation{
        width:95%;
        margin:0 auto;
    }
    .navigation img{
        width:15%;
    }
    .navigation nav{
        text-align:center;
        width:100%;
    }
    nav a{
        margin-left:5px;
        font-size:0.9em;
    }
    .about-1{
        margin:20px auto;
        flex-direction:column;
    }
    .about-1 img{
        width:90%;
    }
    .about-1 p{
        width:90%;
        margin:20px auto 0; 
        font-size:0.9em;
        line-height:1.3em;
    }
}