*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    width:100%;
}
.navigation{
    display:flex;
    align-items:center;
    justify-content:center;
    width:95%;
    justify-content:space-between;
    margin:0 auto;
}
.navigation img{
    width:6%;
}
.navigation nav{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    /* justify-content:space-between; */
    width:100%;
}
nav a{
    display:block;
    text-align:center;
    text-decoration:none;
    /* margin:0 auto; */
    margin-left:20px;
    text-transform:capitalize;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Luc ida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    transition:border , padding  2s;
}
nav a:hover{
    /* border:none; */
    /* border:1px solid #000000; */
    padding:5px;
    color:#943D24;
}
.cart{
    margin:20px auto 0;
    display:flex;
    align-items:center;
    justify-content:center;
    justify-content:space-between;
    flex-direction:column;
    /* background:red;- */
}
.cart h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.3em;
    color:#943D24;
    text-transform:capitalize;
}
.cart div{
    margin:30px auto 0;
    display:flex;
    align-items:center;
    justify-content:center;
    justify-content:space-between;
    width:30%;
    border-bottom:1px solid black;
    padding:5px;
}
.cart span{
    display:block;
}
.cart div img{
    width:15%;
}
.cart div p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:0.9em;
    text-transform:capitalize;
}
.cart div span{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#remove{
    text-transform:capitalize;
    font-size:0.8em;
    background:#943D24;
    padding:5px;
    color:#fff;
    width:20%;
    text-align:center;
    border-radius:50px;
    cursor:pointer;
}
.cart a{
    text-decoration:none;
    margin:20px auto 0;
    color:#fff;
    text-transform:capitalize;
    background:#943D24;
    padding:10px;
    width:10%;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:0.8em;
    border-radius:10px;
}

@media screen and (max-width:750px){
    .navigation{
        width:95%;
        margin:0 auto;
    }
    .navigation img{
        width:15%;
    }
    .navigation nav{
        text-align:center;
        width:100%;
    }
    nav a{
        margin-left:5px;
        font-size:0.9em;
    }
    .cart{
        flex-direction:column;
    }
    .cart div{
        width:95%;
    }
    #remove{
        font-size:0.7em;
    }
    .cart a{
        width:90%;
    }

}